<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [routerLink]="['/routingExServers',5,'edit']"  will create a routerLink like routingExServers/5/edit 👇 go to app routing module for defined comp -->

      <!-- <a
        [routerLink]="['/routingExServers', 5, 'edit']"
        [queryParams]="{ allowEdit: '1' }"
        [fragment]="'loading'"
        href=""
        class="list-group-item"
        *ngFor="let user of users"
      >
        {{ user.name }}</a
      > -->
      <a
      [routerLink]="['/routingExUsers', user.id, user.name]"
      [queryParams]="{ allowEdit: '1' }"
      [fragment]="'loading'"

      href=""
      class="list-group-item"
      *ngFor="let user of users"
    >
      {{ user.name }}</a
    >
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <app-users></app-users> -->
    <router-outlet></router-outlet>
  </div>
</div>
