<div class="row">
  <div class="col-xs-10">
    <!-- <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)" > </app-shopping-edit>   will do it with the help of services -->
    <app-shopping-edit> </app-shopping-edit>
    <hr />
    Shopping List👇
    <ul class="list-group">
      <a
        href=""
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        >{{ ingredient.name }}({{ ingredient.quantity }})</a
      >
    </ul>
    <p>my list</p>
  </div>
</div>
